body {
  background-color: slategray;
}

h1 {
  color: rgb(216, 216, 51);
}

.friend {
  background-color: rgb(111, 172, 192);
}

.friend > h3 {
  color: rgb(103, 202, 73);
  text-transform: uppercase;
}

.song-line {
  color: whitesmoke;
}
